<% include ../partials/header %>

    <div class="photo">
        <div class="row">
            <div class="col--12">
                <div class="photo__title">
                    <h3 class="photo__title--h3"><%= photo.name %></h3>
                    <i class="fa fa-picture-o icon-pic" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</div> <!-- container short -->

<div id="photo__bkg" class="container container--wide">
    <div class="container container--short">
        <div class="photo">
            <div class="row">
                <div class="col--12">
                    <div class="photo__image">
                        <img id="photo__main" src="<%= photo.image %>">
                    </div>
                    <div class="photo__title-bar">
                        <p><i class="fa fa-camera" aria-hidden="true"></i>: <%= photo.photographer %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container container--short">
    <div class="photo">
        <div class="row">
            <div class="col--12">
                <h3 class="photo__desc">
                    <%= photo.description %>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="photo__p-top col--6 col--6--sm">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In consequat finibus dui eu ultricies. Quisque tincidunt ligula sit amet tellus ultricies, quis vehicula risus feugiat. In malesuada, est vel placerat cursus, felis nunc volutpat tortor, convallis tincidunt velit lacus eu dui. Duis posuere ante at ligula commodo, et sagittis purus consectetur. </p>
            </div>
            <div class="col--6 col--6--sm">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque consectetur eros enim. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent sodales mauris vitae suscipit posuere. </p>
                <div class="photo__user">

                    <div class="row">
                        <% if(currentUser && photo.author.id.equals(currentUser.id)){ %>
                            <div class="col--2 col--2--md">
                                <a class="action" href="/gallery/<%= photo._id %>/edit">Edit</a>
                            </div>
                            <div class="col--2 col--2--md">
                                <form action="/gallery/<%= photo._id %>?_method=DELETE" method="POST">
                                    <button type="submit" class="action">Delete</button>
                                </form>
                            </div>
                            <div class="col--8 col--8--sm">
                                <p class="user-name">
                                    Submitted by:
                                    <span>
                                        <%= photo.author.username %>
                                    </span>
                                </p>
                            </div>
                        <% }else{ %>
                            <div class="col--2 col--2--small">
                                <i class="fa fa-user-circle icon-user" aria-hidden="true"></i>
                            </div>
                            <div class="col--10 col--10--sm">
                                <p class="user-name">
                                    Submitted by:
                                    <span>
                                        <%= photo.author.username %>
                                    </span>
                                </p>
                            </div>
                        <% } %>
                               
                    </div>

                </div>
            </div>
        </div>
    </div>

<div class="row">
    <div class="col--12">
        <div class="comment__title">
            <h3 class="comment__title--h3">
                <i class="fa fa-commenting-o" aria-hidden="true"></i>
                Comments
            </h3>
            <div class="col--12 comment__button">
                <a href="/gallery/<%= photo._id %>/comments/new" type="submit" class="btn btn--blue">Add Comment</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col--12">
        <div class="comment">
            <% photo.comments.forEach(function(comment){ %>
                <div class="row">
                    <div class="comment__image col--2 col--2--sm">
                        <img class="comment__user-image" srcset="/images/comment_icon_001.png">
                    </div>
                    <div class="comment__text col--10 col--10--sm">
                        <h4>
                            <%= comment.author.username %>
                        </h4>
                        <p>
                            <%= comment.text %>
                        </p>
                    </div>
                </div>
                <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                    <div class="row">
                        
                        <div class="col--12">
                            <a class="action action--comment" 
                            href="/gallery/<%= photo._id %>/comments/<%= comment._id %>/edit">Edit</a>
                            <form action="/gallery/<%= photo._id %>/comments/<%= comment._id %>/?_method=DELETE" method="POST">
                                <button type="submit" class="action">Delete</button>
                            </form>
                        </div>
                    </div>
                <% } %>
            <% }); %>
        </div>
    </div>
</div>
    
    
    

<% include ../partials/footer %>