<% include partials/header %>

    <div class="photo">
        <div class="row">
            <div class="col--12">
                <div class="photo__title">
                    <h3 class="photo__title--h3"><%= photo.name %></h3>
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</div> <!-- container short -->

<div id="photo__bkg" class="container container--wide">
    <div class="container container--short">
        <div class="photo">
            <div class="row">
                <div class="col--12">
                    <div class="photo__image">
                        <img id="photo__main" src="<%= photo.image %>">
                    </div>
                    <div class="photo__title-bar">
                        <p><i class="fa fa-camera" aria-hidden="true"></i>: <%= photo.photographer %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container container--short">
    <div class="photo">
        <div class="row">
            <div class="col--12">
                <h3 class="photo__desc">
                    <%= photo.description %>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col--6 col--6--sm">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In consequat finibus dui eu ultricies. Quisque tincidunt ligula sit amet tellus ultricies, quis vehicula risus feugiat. In malesuada, est vel placerat cursus, felis nunc volutpat tortor, convallis tincidunt velit lacus eu dui. Duis posuere ante at ligula commodo, et sagittis purus consectetur. </p>
            </div>
            <div class="col--6 col--6--sm">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque consectetur eros enim. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent sodales mauris vitae suscipit posuere. </p>
            </div>
        </div>
    </div>

    
    <div class="comment" style="width: 70%; display: block; margin: 35px auto; background-color: #f7f7f7; border: 1px solid #ccc; border-radius: 5px;">
        <% photo.comments.forEach(function(comment){ %>
        <div class="row">
            <div class="col--2 col--2--sm">
                <img style="margin-top: 3px; display: block; margin: auto;" class="comment__image" srcset="/images/comment_icon_001.png">
            </div>
            <div class="col--10 col--10--sm" style="padding-left: 15px; background-color: #e2e2e2;">
                <h4 style="margin-top: 8px; color: #468284;"><%= comment.author %></h4>
                <p style="margin-top: 3px;"><%= comment.text %></p>
            </div>
        </div>
         <% }); %>
    </div>



<% include partials/footer %>